{% extends "homepage/layout.html" %}
{% load widget_tweaks %}

{% block title %}CEP 2016{% endblock %}

{% block header_extra %}

<div class="container">
                    <div id="cbx-speakers" class="row">
                        <div class="col-xs-12">
                            <div class="cbx-header-content text-center cbx-regiter-common">
                                <h4 class="wow zoomIn " data-wow-delay=".1s">Únete Ahora</h4>
                                <h1 class="uppercase  wow zoomIn " data-wow-delay=".3s">Concurso Escolar de<span class="span-color2"> PROGRAMACION</span> 2016</h1>
                                <h5 class="uppercase  wow zoomIn " data-wow-delay=".5s"><span class="uppercase">25 de Noviembre, 2016,</span> <span class="sspan-color2"> Arequipa</span></h5>
                            </div>
                            <div class=" text-center">
                                <!--Circular countdown starts -->
                                <div class="lz-countdown-main">
                                    <div class="row">
                                        <div class="lz-countdown-container">
                                            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
                                                <div class="row">
                                                    <div class="lz-circular-countdown-container" id="cbxcountdown" data-year="2016" data-month="12" data-day="31">

                                                        <!-- days -->
                                                        <div class="lz-circular-clock-item lz-circular-clock-days lz-circular-countdown-time-value col-xs-3">
                                                            <div class="lz-circular-wrap   wow zoomIn " data-wow-delay=".7s">
                                                                <div class="lz-circular-inner">
                                                                    <div id="lz-circular-canvas_days" class="lz-circular-clock-canvas"></div>
                                                                    <div class="lz-circular-text">
                                                                        <p class="lz-circular-val">0</p>
                                                                        <p class="lz-circular-type-days lz-circular-type-time">Days</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- hours -->

                                                        <div class="lz-circular-clock-item lz-circular-clock-hours lz-circular-countdown-time-value col-xs-3">
                                                            <div class="lz-circular-wrap  wow zoomIn " data-wow-delay=".8s">
                                                                <div class="lz-circular-inner">
                                                                    <div id="lz-circular-canvas_hours" class="lz-circular-clock-canvas"></div>
                                                                    <div class="lz-circular-text">
                                                                        <p class="lz-circular-val">0</p>
                                                                        <p class="lz-circular-type-hours lz-circular-type-time">Hours</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- minutes -->
                                                        <div class="lz-circular-clock-item lz-circular-clock-minutes lz-circular-countdown-time-value col-xs-3">
                                                            <div class="lz-circular-wrap  wow zoomIn " data-wow-delay=".9s">
                                                                <div class="lz-circular-inner">
                                                                    <div id="lz-circular-canvas_minutes" class="lz-circular-clock-canvas"></div>
                                                                    <div class="lz-circular-text">
                                                                        <p class="lz-circular-val">0</p>
                                                                        <p class="lz-circular-type-minutes lz-circular-type-time">Minutes</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- seconds -->
                                                        <div class="lz-circular-clock-item lz-circular-clock-seconds lz-circular-countdown-time-value col-xs-3">
                                                            <div class="lz-circular-wrap  wow zoomIn " data-wow-delay="1s">
                                                                <div class="lz-circular-inner">
                                                                    <div id="lz-circular-canvas_seconds" class="lz-circular-clock-canvas"></div>
                                                                    <div class="lz-circular-text">
                                                                        <p class="lz-circular-val">0</p>
                                                                        <p class="lz-circular-type-seconds lz-circular-type-time">Seconds</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Circular countdown ends -->
                            </div>
                        </div>
                    </div> <!--.content ROW-->

                </div><!--//.CONTAINER-->

{% endblock %}

{% block content %}

    <!--NOSOTROS START-->
    <section>
        <div id="cbx-venue" class="cbx-header">
            <div class="cbx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="cbx-heading">
                                <h2 class="uppercase wow fadeInUp " data-wow-delay=".1s">
                                    <span class="heading-serial">
                                        <span class="heading-serial-inner">
                                          01
                                        </span>
                                    </span>
                                    <span class="title">Capítulo Estudiantil ACM UCSP</span>
                                </h2>
                                <p class="uppercase  wow fadeInUp" data-wow-delay=".2s">
                                    Somos una organización académica sin ánimo de lucro conformada y dirigida por estudiantes de Ciencia de la Computación. Buscamos promover la computación como disciplina dentro y fuera de nuestra universidad.
                                </p>

                                <p class="uppercase wow fadeInUp" data-wow-delay=".2s">
                                    Contamos con el respaldo de la Association of Computing Machinery lo que nos permite mantenernos al tanto y difundir el estado del arte en las diferentes ramas de la computación, así como establecer lazos profesionales a nivel nacional e internacional.
                                </p>
                            </div>
                        </div> <!--//main COL-->
                    </div> <!--//main row-->

                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 xs-text-center">
                            <div class="sp-single-are">
                                <div class="cbx-view cbx-view-inner">
                                    <figure>
                                        {% load staticfiles %}
                                        <img src="{% static "web_cep_2016/img/cap1.jpg"%}" alt="foto1_cep_2015" />
                                    </figure>
                                </div>
                                <div class="cbx-name-info">
                                    <h3><a href="speaker.html">CEP 2015</a></h3>
                                    <h4>Organizadores y Concursantes</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 xs-text-center">
                            <div class="sp-single-are">
                                <div class="cbx-view cbx-view-inner">
                                    <figure>
                                        {% load staticfiles %}
                                        <img src="{% static "web_cep_2016/img/cap2.jpg"%}" alt="foto2_cep_2015"/>
                                    </figure>
                                </div>
                                <div class="cbx-name-info">
                                    <h3><a href="speaker.html">CEP 2015</a></h3>
                                    <h4>Desarrollo de concurso</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 xs-text-center">
                            <div class="sp-single-are">
                                <div class="cbx-view cbx-view-inner">
                                    {% load staticfiles %}
                                    <figure>
                                        <img src="{% static "web_cep_2016/img/cap3.jpg"%}" alt="foto3_cep_2015"/>
                                    </figure>
                                </div>
                                <div class="cbx-name-info">
                                    <h3><a href="speaker.html">CEP 2014</a></h3>
                                    <h4>Entrenadores y Concursantes</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!--//container-->

            </div> <!--//cbx-inner-->
        </div>
    </section> <!--NOSOTROS END-->

    <!--SCHEDULE START-->
    <section>
        <div id="cbx-schedule" class="cbx-schedule">
            <div class="cbx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="cbx-heading">
                                <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
                                    <span class="heading-serial">
                                        <span class="heading-serial-inner">
                                          02
                                        </span>
                                    </span>
                                    <span class="title">Etapas</span>
                                </h2>
                                <p class="heading-text-p wow fadeInUp" data-wow-delay=".2s">
                                    La competencia se dividirá en dos etapas, la primera etapa eliminatoria, y la segunda etapa final.
                                </p>
                            </div>
                        </div> <!--//main COL-->
                    </div> <!--//main row-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="cbx-tab">
                                <ul class="nav nav-pills text-center">
                                    <li class="active"><a data-toggle="pill" href="#home">Etapa Eliminatoria <br/><span>26.11.2016</span></a></li>
                                    <!--<li class="active"><a data-toggle="pill" href="#home">Etapa Final<br/><span>12.12.2016</span></a></li>-->

                                    <li><a data-toggle="pill" href="#menu1">Etapa Final <br/><span>12.12.2016</span></a></li>
                                </ul>
                                <div class="tab-content cbx-tab-content text-center">
                                    <div id="home" class="tab-pane fade in active">
                                        <div class="cbx-single-tab">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-4">
                                                    {% load staticfiles %}
                                                    <a href="#"><img src="{% static "web_cep_2016/img/cap1.jpg"%}" alt="img1_cep_2015"/></a>
                                                </div>
                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="cbx-info text-left">
                                                        <span><a href="#"><i class="fa fa-clock-o"></i> 09:00 AM</a></span>
                                                        <span><a href="#"><i class="fa fa-building"></i> Sede Norte: Trujillo</a></span>
                                                        <span><a href="#"><i class="fa fa-hospital-o"></i> Sede Centro: Lima</a></span>
                                                        <span><a href="#"><i class="fa fa-hospital-o"></i> Sede Sur: Arequipa</a></span>
                                                        <h3 class="uppercase">3 sedes oficiales</h3>
                                                        <h5 class="uppercase">Lugar: <span class="span-color2">Universidades emblemáticas según sede</span></h5>
                                                        <p>En cada una de las 3 sedes oficiales, el concurso empezará al mismo tiempo 9:00 am y finalizará a horas 1:00 pm, los ganadores de cada sede se medirán en la etapa final </p>
                                                        <a href="#">
                                                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                                                        </a>
                                                    </div> <!--//.single tab-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cbx-single-tab">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-4">
                                                    {% load staticfiles %}
                                                    <a href="#"><img src="{% static "web_cep_2016/img/cap2.jpg"%}" alt="img2_cep_2015"/></a>
                                                </div>
                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="cbx-info text-left">
                                                        <span><a href="#"><i class="fa fa-clock-o"></i> 9:00 AM</a></span>
                                                        <span><a href="#"><i class="fa fa-building"></i> Sede Arequipa</a></span>
                                                        <span><a href="#"><i class="fa fa-hospital-o"></i> 3 años consecutivos</a></span>
                                                        <h3 class="uppercase">ETAPA FINAL</h3>
                                                        <h5 class="uppercase">Lugar: <span class="span-color2">Universidad Católica San Pablo</span></h5>
                                                        <p>Se ha elegido como sede final la ciudad de Arequipa, ya que el concurso se viene desarrollando aqui durante 3 años consecutivos. Las mismas reglas aplican para la etapa final</p>
                                                        <a href="#">
                                                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                                                        </a>
                                                    </div> <!--//.single tab-->
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--//container-->
            </div> <!--//cbx-inner-->
        </div>
    </section> <!--SCHEDULE END-->

    <!--SPONSORED START-->
    <section>
        <div id="cbx-sponsored" class="cbx-sponsored">
            <div class="cbx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="cbx-heading">
                                <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
                                    <span class="heading-serial">
                                        <span class="heading-serial-inner">
                                          03
                                        </span>
                                    </span>
                                    <span class="title">Sponsors</span>
                                </h2>
                                <p class="heading-text-p wow fadeInUp" data-wow-delay=".2s">
                                    Nuestros Sponsors y Colaboradores, los cuales estan comprometidos con la educación bla bla bla
                                </p>
                            </div>
                        </div> <!--//main COL-->
                    </div> <!--//main row-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sponsored-heading text-center">
                                <h4 class="uppercase"><span class="span-ash-light">Silver</span> <span class="span-light">Sponsors</span></h4>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/ucsp.png"%}" alt="sponsor1"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/amigocloud.png"%}" alt="sponsor2"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/amigocloud.png"%}" alt="sponsor3"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/ucsp.png"%}" alt="sponsor4"/>
                                    </div>
                                </div>
                            </div>
                        </div> <!--//col-->
                    </div> <!--//row-->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sponsored-heading text-center">
                                <h4 class="uppercase"><span class="span-ash-light">Golden</span> <span class="span-light">Sponsors</span></h4>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/fb.png"%}" alt="sponsor5"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/oltursa.png"%}" alt="sponsor6"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/lan.png"%}" alt="sponsor7"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/cerroverde.jpg"%}" alt="sponsor8"/>
                                    </div>
                                </div>
                            </div>
                        </div> <!--//col-->
                    </div> <!--//row-->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sponsored-heading text-center">
                                <h4 class="uppercase"><span class="span-ash-light">platinum</span> <span class="span-light">Sponsors</span></h4>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/acm_logo.png"%}" alt="sponsor9"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/fb.png"%}" alt="sponsor10"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/lan.png"%}" alt="sponsor11"/>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    {% load staticfiles %}
                                    <div class="single-sponsored">
                                        <img src="{% static "web_cep_2016/img/cerroverde.jpg"%}" alt="sponsor12"/>
                                    </div>
                                </div>
                            </div>
                        </div> <!--//col-->
                    </div> <!--//row-->
                </div> <!--//container-->
            </div> <!--//cbx-inner-->
        </div>
    </section> <!--//.SPONSORED END-->


    <!--REGISTER START-->
    <section>
        <div id="cbx-register" class="cbx-register">
            <div class="cbx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="cbx-heading">
                                <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
                                    <span class="heading-serial">
                                        <span class="heading-serial-inner">
                                          04
                                        </span>
                                    </span>
                                    <span class="title">Registro</span>
                                </h2>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <p>Inicio de inscripciones: Lunes 5 de septiembre</p>
                            <p>Fin de inscripciones: Viernes 30 de septiembre</p>
                        </div> <!--//main COL-->
                    </div> <!--// row-->
                    <div class="row">
                        <div class="col-xs-12  col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                            <div class="cbx-subscriber text-center">
                                {{ form.non_field_errors }}
                                {% if form %}
                                <form class="subscribe-form" role="form" method="post" action="#cbx-register">{% csrf_token %}<!--como para hacer scroll-->
                                    <div class="form-group">
                                        <strong class="text-muted">{{form.name.errors}}</strong>
                                        {{ form.name|attr:"placeholder:Name"|add_class:"form-control"|attr:"disabled"}}
                                    </div>
                                    <div class="form-group">
                                        <strong class="text-muted">{{form.last_name.errors}}</strong>
                                        {{ form.last_name|attr:"placeholder:Apellidos"|add_class:"form-control"|attr:"disabled"}}
                                    </div>
                                    <div class="form-group">
                                        <strong class="text-muted">{{form.dni.errors}}</strong>
                                        {{ form.dni|attr:"placeholder:DNI"|add_class:"form-control"|attr:"disabled"}}
                                    </div>
                                    <div class="form-group">
                                        <strong class="text-muted">{{form.school_name.errors}}</strong>
                                        {{ form.school_name|attr:"placeholder:Nombre del Colegio"|add_class:"form-control"|attr:"disabled"}}
                                    </div>
                                    <div class="form-group">
                                        <strong class="text-muted">{{form.email.errors}}</strong>
                                        {{ form.email|attr:"placeholder:Email"|add_class:"form-control"|attr:"disabled"}}
                                    </div>

                                    <div class="form-group">
                                        {{ form.year_in_school.errors}}
                                        {{ form.year_in_school|add_class:"form-control"|attr:"disabled"}}
                                    </div>

                                    <div class="form-group xs-text-center  wow zoomIn" data-wow-delay=".4s">
                                        <button class="cbx-submit lz-submit-btn" name="cbx-submit" type="submit" disabled>Enviar</button>
                                    </div>
                                </form>
                                {% else %}
                                    <blockquote>
                                        <p class="text-primary">{{ msg }}</p>
                                        <footer class="text-success">Empieza a codear <cite class="text-success" title="Source Title">tu historia.</cite></footer>
                                    </blockquote>
                                {% endif %}
                            </div> <!--//.SUBSCRIBE-->
                        </div>
                    </div> <!--//ROW-->
                </div> <!--//container-->
            </div> <!--//cbx-inner-->
        </div>
    </section> <!--Register END-->



    <!--TESTIMONIALS START-->
    <section>
        <div id="cbx-testimonials" class="cbx-testimonials">
            <div class="cbx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="cbx-heading">
                                <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
                                    <span class="heading-serial">
                                        <span class="heading-serial-inner">
                                          05
                                        </span>
                                    </span>
                                    <span class="title">Testimonios</span>
                                </h2>
                            </div>
                        </div> <!--//main COL-->
                    </div> <!--//main row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                                <!-- Bottom Carousel Indicators -->
                                <ol class="carousel-indicators cbx-carousel-indicators">

                                    <li data-target="#quote-carousel" data-slide-to="0" class="active">{% load staticfiles %}<img class="img-responsive " src="{% static "web_cep_2016/img/cap1.jpg" %}" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="1">{% load staticfiles %}<img class="img-responsive" src="{% static "web_cep_2016/img/cap2.jpg" %}" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="2">{% load staticfiles %}<img class="img-responsive" src="{% static "web_cep_2016/img/cap3.jpg" %}" alt="">
                                    </li>
                                </ol>

                                <!-- Carousel Slides / Quotes -->
                                <div class="carousel-inner text-center" role="listbox">

                                    <!-- Quote 1 -->
                                    <div class="item active">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-10 col-sm-offset-1">

                                                    <div class="cbx-single-people">
                                                        <p>
                                                            Empecé el curso de programación sin saber mucho acerca de esto y, aunque lo que me enseñaron los entrenadores fue básico —siendo la programación un proceso complejo—, pude ser capaz de crear programas que realizan lo que yo quiera. Y esto me encanta, ya que constantemente estoy pensando cómo codificar mis ideas, que en algunas ocasiones no es tan sencillo.
                                                        </p>
                                                        <small class="uppercase">Karl Loayza 1ER LUGAR CEP 2014, COLEGIO SAN JUAN BAUTISTA DE LA SALLE </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 2 -->
                                    <div class="item">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-10 col-sm-offset-1">

                                                    <div class="cbx-single-people">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore!
                                                        </p>
                                                        <small class="uppercase">Devid Jonathon</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 3 -->
                                    <div class="item">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-10 col-sm-offset-1">
                                                    <div class="cbx-single-people">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore!
                                                        </p>
                                                        <small class="uppercase">Elina Doe</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>

                                <!-- Carousel Buttons Next/Prev -->
                                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div> <!--//container-->
            </div> <!--//cbx-inner-->
        </div>
    </section> <!--TESTIMONIALS END-->
{% endblock %}
