{% load widget_tweaks %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="CEP 2016">
        <meta name="keywords"  content="event, meetup" />


        <!-- twitter card starts from here, if you don't need remove this section -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@yourtwitterusername" />
        <meta name="twitter:creator" content="@yourtwitterusername" />
        <meta name="twitter:url" content="http://yourdomain.com" />
        <meta name="twitter:title" content="Your home page title, max 140 char" /> <!-- maximum 140 char -->
        <meta name="twitter:description" content="Your site description, maximum 140 char " /> <!-- maximum 140 char -->
        <meta name="twitter:image" content="assets/img/twittercardimg/twittercard-280-150.jpg" />  <!-- when you post this page url in twitter , this image will be shown -->
        <!-- twitter card ends from here -->

        <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
        <meta property="og:title" content="Your home page title" />
        <meta property="og:url" content="http://your domain here.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="Your site name here" />
        <!--meta property="fb:admins" content="" /-->  <!-- use this if you have  -->
        <meta property="og:type" content="website" />
        <meta property="og:image" content="assets/img/opengraph/fbphoto.jpg" /> <!-- when you post this page url in facebook , this image will be shown -->
        <!-- facebook open graph ends from here -->

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- icons & favicons -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico" />  <!-- this icon shows in browser toolbar -->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" /> <!-- this icon shows in browser toolbar -->
        <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/img/favicon/manifest.json">


        <!-- Fallback For IE 9 [ Media Query and html5 Shim] -->
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>

        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


    <!-- BOOTSTRAP CSS -->
    <!-- bootstrap can be added from local or cdn, bellow line is for local, btw, there is js which is added in footer -->
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "web_cep_2016/css/bootstrap.min.css"%}" media="all" />
        <!-- to add bootstrap from cdn pls uncomment the bellow line -->
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"-->

        <!-- FONT AWESOME CSS -->
        <!-- font awesome css library can be can be added from local or cdn, bellow line is for local -->
        <link rel="stylesheet" href="{% static "web_cep_2016/css/font-awesome.min.css"%}" media="all" />
        <!-- to add font awesome from cdn pls uncomment the bellow line -->
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"-->


        <!-- for animation effects animate.css -->
        <link rel="stylesheet" href="{% static "web_cep_2016/css/animate.css"%}" media="all" />


        <!-- adding maginific popup library, there is js which is added in footer -->

        <link rel="stylesheet" href="{% static "web_cep_2016/css/magnific-popup.css"%}"  media="all"/>


        <!-- adding google fonts -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"  rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Exo:300,600,700,900" rel="stylesheet" type="text/css">

        <!-- CUSTOM  CSS  -->
        <link id="cbx-style" rel="stylesheet" href="{% static "web_cep_2016/css/style-default.min.css" %}" media="all" />

        <!-- MODERNIZER CSS  -->
        <script src="{% static "web_cep_2016/js/modernizr-2.6.2.min.js" %}" ></script>

    {% endblock %}
</head>

<body>

    <div class="cbx-container">
    <!-- SITE CONTENT START HERE -->

    <header>
        <div id="cbx-header" class="cbx-header">
            <div class="cbx-header-inner">
                <nav id="menu-offscroll" class="navbar navbar-default cbx-navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        <!--<div class="logo">
                                <h2><a href="index.html" class="gotome">Event<span class="span-color">Z</span></a></h2>
                            </div>--><!--AH!! QUE COOL-->
                        </div>
                            </div> <!--//.COL 3-->
                            <div class="col-sm-10">
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="navbar-collapse">
                                    <ul class="nav navbar-nav cbx-nav-right xs-text-center">
                                        <li><a href="#cbx-speakers" class="gotome">Inicio</a></li>
                                        <li><a href="#cbx-venue" class="gotome">Nosotros</a></li>
                                        <li><a href="#cbx-schedule" class="gotome">Etapas</a></li>
                                        <li><a href="#cbx-sponsored" class="gotome">Sponsors</a></li>
                                        <li><a href="#cbx-register" class="gotome">Registro</a></li>
                                        <li><a href="#cbx-testimonials" class="gotome">Testimonios</a></li>
                                        <!--<li><a href="#cbx-sponsored" class="gotome">Ubicación</a></li>-->
                                        <li><a href="#contacto" class="gotome">Contacto</a></li>
                                    </ul>
                                    <ul class="list-inline pull-right event-ticket">
                                        <li><a href="#cbx-register">APRENDE AQUI</a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div> <!--//.COl 9-->
                        </div><!--//.ROW-->
                    </div><!-- /.container -->
                </nav>
                {% block header_extra %}{% endblock %}
            </div>
        </div> <!--//.CBX FOOTER-->
    </header>

    {% block content %}{% endblock %}

    <!--CONTACT START-->
    <section>
        <div id="contacto" class="cbx-subscriber">
            <div class="cbx-testi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="cbx-heading">
                                <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
                                    <span class="heading-serial">
                                        <span class="heading-serial-inner">
                                          06
                                        </span>
                                    </span>
                                    <span class="title">Contacto</span>
                                </h2>
                            </div>
                        </div>
                        <!--<div class="col-xs-12 text-center">
                            <h3 class=" wow fadeInUp" data-wow-delay=".1s">Contacto</h3>
                        </div> <!--//main COL-->-->
                    </div> <!--// row-->
                    <div class="row">
                        <div class="col-xs-12  col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                            <div class="cbx-subscriber text-center">
                                {{ form2.non_field_errors }}
                                {% if form2 %}
                                <form class="subscribe-form" role="form" method="post" action="{% url "contact" %}">{% csrf_token %}
                                    <div class="form-group xs-text-center  wow zoomIn" data-wow-delay=".3s">
                                        {{ form2.name|attr:"placeholder:Nombre"|add_class:"form-control lz-input form-control"|attr:"required=required"}}
                                        {{ form2.name.errors}}
                                    </div>
                                    <div class="form-group xs-text-center  wow zoomIn" data-wow-delay=".3s">
                                        {{ form2.email|attr:"placeholder:Ingresa tu email ..."|add_class:"form-control lz-input form-control"|attr:"required=required"}}
                                        {{ form2.email.errors}}
                                    </div>
                                    <div class="form-group xs-text-center  wow zoomIn" data-wow-delay=".3s">
                                        {{ form2.message|attr:"placeholder:Escribe tu mensaje ..."|add_class:"form-control lz-input form-control"|attr:"required=required"}}
                                        {{ form2.message.errors}}
                                    </div>
                                    <!--<div class="form-group xs-text-center  wow zoomIn" data-wow-delay=".3s">
                                        <input id="subscribe"  class="form-control lz-input form-control" required="required" type="email" placeholder="Ingresa tu email...">
                                    </div>-->
                                    <div class="form-group xs-text-center  wow zoomIn" data-wow-delay=".4s">
                                         <button class="cbx-submit lz-submit-btn" name="cbx-submit" type="submit">Enviar mensaje</button>
                                    </div>
                                </form>
                                {% else %}
                                    <blockquote>
                                        <p class="text-primary">{{ msg2 }}</p>
                                        <footer class="text-success">Te responderemos my pronto.</footer>
                                        <div class="col-xs-12" style="height:50px;"></div>
                                        <a href="{% url "register" %}" class="btn btn-primary btn-lg active" role="button">Ir a página principal</a>
                                    </blockquote>
                                {% endif %}
                            </div> <!--//.SUBSCR
                            IBE-->
                        </div>
                    </div> <!--//ROW-->
                </div> <!--//container-->
            </div> <!--//cbx-inner-->
        </div>
    </section> <!--CONTACT END-->
    <!-- SITE CONTENT END -->
</div> <!--//.CBX CONTAINER-->

    <footer>
        <div id="cbx-footer" class="cbx-footer">
            <div class="cbx-footer-inner cbx-top-inner">
                <div class="container">
                    <div class="footer-content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 text-center">
                                <!--<div class="footer-social wow zoomIn" data-wow-delay=".5s">
                                    <ul class="list-unstyled list-inline text-center">
                                        <li><a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="sp-google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a class="sp-" href="#"><i class="fa fa-soundcloud"></i></a></li>
                                        <li><a class="sp-" href="#"><i class="fa fa-video-camera"></i></a></li>
                                    </ul>
                                </div>-->
                                <p class="cbx-copy-right uppercase wow fadeInUp" data-wow-delay=".6s">Concurso Escolar <span class="span-color2">de programación </span>2016.</p>
                            </div>
                        </div>
                    </div>
                </div><!--//.CONTAINER-->
                <div class="cbx-top text-center">
                    <a href="#cbx-header" class="gotome">
                        <i class="fa fa-angle-double-up"></i>
                        <p>Subir</p>
                    </a>
                </div>
            </div> <!--//.cbx-inner-->
        </div> <!--//.CBX FOOTER-->
    </footer>
<!-- SITE  SCRIPT
  <script src="/ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/vendor/jquery-1.10.2.min.js"><\/script>')</script>
-->
<!-- BOOTSTRAP JS -->
<!-- adding bootstrap js -->
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{% static "web_cep_2016/js/bootstrap.min.js"%}"></script>  <!-- from local -->
<!-- load bootstrap js from cdn, uncomment bellow line if need from cdn -->
<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script-->

<!-- if load google maps then load this api -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<!-- WOW  JS -->
<script src="{% static "web_cep_2016/js/wow.js"%}"></script>

<!--- for smooth scroll -->
<script src="{% static "web_cep_2016/js/jquery.smooth-scroll.js"%}"></script>

<!-- adding magnific popup js library -->
<script src="{% static "web_cep_2016/js/jquery.magnific-popup.min.js" %}" type="text/javascript"></script>

<script src="{% static "web_cep_2016/js/jquery.validate.js" %}"></script>

<!-- if use countdown plugin then use this plugin -->
<script type="text/javascript" src="{% static "web_cep_2016/js/kinetic-v5.1.0.min.js"%}"></script>
<script type="text/javascript" src="{% static "web_cep_2016/js/jquery.final-countdown.js" %}"></script>


<!-- CUSTOM JS -->
<script src="{% static "web_cep_2016/js/cbscript.js" %}"></script>

<!-- FOR DEMO ONLY-->
<!-- comment this below line in production -->

<script type="text/javascript" src="{% static "web_cep_2016/js/switcher.js" %}"></script>


</body>

</html>
